ee
ipykernel
numpy
pandas
scipy
matplotlib
jenkspy
geemap
black
python-dotenv
scikit-learn
pysheds
rasterio
seaborn
streamlit
streamlit_folium
streamlit_extras
streamlit_echarts
setuptools
statsmodels
google.generativeai
